@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  top: 0;
  position: sticky;
  margin-bottom: 1.875rem;
  border-bottom: solid 2px rgba(11, 11, 143, 0.13);
  z-index: 1000;
  box-shadow: 0px 10px 15px rgba(53, 172, 180, 0.74);
}
header div {
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
header div input {
  border-radius: 0.625rem;
  padding: 0rem 0.625rem;
}
header div nav ul {
  display: flex;
  gap: 1rem;
  color: white;
  font-size: 1.5625rem;
  font-weight: bold;
}
header div nav ul a {
  padding: 0.625rem;
  border-radius: 0.625rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
header div nav ul a:hover {
  color: yellow;
  background-color: rgba(0, 0, 102, 0.747);
}

.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.625rem;
}

.logo {
  width: 10vh;
}

.active {
  background-color: rgba(255, 255, 0, 0.11);
  color: rgb(214, 216, 98);
  font-weight: bold;
  border-radius: 10%;
}

.title {
  font-family: "Rubik Bubbles", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 5px;
  animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 555ms reverse both;
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
.cart {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.medios {
  color: white;
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-left: 1rem;
}
.medios div {
  width: 30vh;
}

.banner1 {
  width: 60%;
  margin: auto;
  background-color: rgba(39, 85, 172, 0.747);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 3.75rem;
  font-weight: bolder;
  font-family: "Bebas Neue", sans-serif;
  padding: 2.5rem;
  border: solid 3px rgba(18, 0, 83, 0.651);
  border-radius: 30px;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.banner1 img {
  width: 30vh;
}

.banner1:hover {
  transform: scale(1.01);
}

.bannercat {
  width: 60%;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url(../../assets/img/photo-1573865526739-10659fec78a5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  border: solid 3px rgba(0, 0, 105, 0.699);
  border-radius: 20px;
}

.category-banner-dog {
  background-image: url(../assets/img/bannerdog.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.category-banner-dog:hover {
  transform: scale(1.01);
}

.category-banner-puppy {
  background-image: url(../assets/img/bannerpuppy.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.category-banner-puppy:hover {
  transform: scale(1.01);
}

.category-banner-cat {
  background-image: url(../assets/img/bannercat.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.category-banner-cat:hover {
  transform: scale(1.01);
}

.category-banner-chicken {
  background-image: url(../assets/img/bannerchicken.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.category-banner-chicken:hover {
  transform: scale(1.01);
}

.section1 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  margin: auto;
  padding: 2.5rem;
  margin-top: 1.875rem;
}
.section1 article {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(18, 0, 83, 0.658);
  border: solid 4px rgba(18, 0, 83, 0.151);
  border-radius: 10px;
  color: white;
  font-size: 1.875rem;
  font-weight: bold;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.section1 article:hover {
  transform: scale(1.1);
}
.section1 img {
  border-radius: 10px;
  overflow: hidden;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: white;
  gap: 1rem;
  margin-top: 3rem;
}
.productos button {
  font-size: 1.5625rem;
  color: blue;
  font-weight: bold;
  background-color: yellow;
  padding: 0px 10px;
  border: solid 2px black;
  border-radius: 10px;
}
.productos button:hover {
  color: yellow;
  background-color: lightblue;
}
.productos p {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.productos img {
  width: 25vh;
  border-radius: 10%;
  border: solid 3px rgba(0, 0, 116, 0.658);
  margin-bottom: 2rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.productos img:hover {
  transform: scale(1.1);
}

.productos-sell {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  color: white;
  gap: 4rem;
  margin-top: 3rem;
}
.productos-sell div:nth-child(2) {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.productos-sell div:nth-child(2) p {
  font-size: 1rem;
}
.productos-sell div:nth-child(2) h1 {
  font-size: 3rem;
}
.productos-sell button {
  font-size: 1.5625rem;
  color: blue;
  font-weight: bold;
  background-color: yellow;
  padding: 0px 10px;
  border: solid 2px black;
  border-radius: 10px;
}
.productos-sell button:hover {
  color: yellow;
  background-color: lightblue;
}
.productos-sell p {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.productos-sell img {
  width: 25vh;
  border-radius: 10%;
  border: solid 3px rgba(0, 0, 116, 0.658);
  margin-bottom: 2rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.productos-sell img:hover {
  transform: scale(1.1);
}

.banner2 {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.banner2 div a:first-child img {
  width: 20vh;
}
.banner2 div:nth-child(1) img {
  width: 30vh;
}

.banner2:hover {
  transform: scale(1.01);
}

.brands {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-items: center;
  gap: 1.25rem;
  padding: 2.5rem;
  margin-top: 1.875rem;
}
.brands img {
  border: solid 4px rgba(0, 0, 0, 0.336);
  border-radius: 50%;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.brands img:hover {
  transform: scale(1.1);
}

.brands-title {
  width: 59%;
  margin: auto;
  display: flex;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-top: 2.5rem;
  margin-top: 1.875rem;
}

footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 0.625rem;
  color: white;
  font-size: 1.875rem;
  background-color: rgba(14, 14, 105, 0.808);
  align-items: center;
  margin-top: 1.875rem;
  flex-wrap: wrap;
}
footer div div {
  display: flex;
}
footer div img {
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
footer div img:hover {
  transform: scale(1.2);
}

.workwithus:hover {
  color: yellow;
  font-weight: bold;
}

.contact {
  text-align: center;
}
.contact a {
  font-weight: bold;
}

.contact {
  text-align: center;
}
.contact a:hover {
  color: yellow;
}

@media all and (max-width: 1024px) {
  header a {
    font-size: 1rem;
  }
  header input {
    width: 6vh;
  }
  .banner1 {
    width: 70%;
    height: 30vh;
    font-size: 2.5rem;
  }
  .banner1 img {
    width: 20vh;
  }
  .brands {
    width: 70%;
  }
  footer {
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
  .productos p {
    font-size: 1.3rem;
  }
  .productos img {
    width: 18vh;
  }
  .title {
    font-size: 3rem;
    letter-spacing: normal;
  }
}
@media all and (max-width: 768px) {
  header {
    font-size: 0.9375rem;
  }
  header .nav {
    gap: 0px;
  }
  header div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header input {
    width: 15vh;
  }
  header img {
    width: 5vh;
  }
  header .logo {
    display: flex;
    justify-content: center;
    width: 10vh;
  }
  header .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  header .icons img {
    width: 4vh;
  }
  .title {
    font-size: 2rem;
  }
  .banner1 {
    flex-direction: column;
    text-align: center;
    width: 70%;
    font-size: 2rem;
  }
  .banner1 img {
    width: 15vh;
  }
  .section1 article {
    font-size: 15px;
    font-weight: normal;
  }
  .banner2 {
    width: 70%;
    font-size: 3rem;
  }
  .brands {
    width: 80%;
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .productos div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .productos img {
    width: 15vh;
  }
  .productos-sell {
    flex-direction: column;
    align-items: center;
  }
  .productos-sell div:nth-child(2) {
    width: 80%;
  }
  .productos-sell h1 {
    display: flex;
    justify-content: center;
  }
  .productos-sell h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  .productos-sell p:nth-child(2) {
    display: none;
  }
}
@media all and (max-width: 425px) {
  header .nav {
    gap: 0px;
    font-size: 10px;
  }
  header div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 5vh;
  }
  header .logo {
    display: flex;
    justify-content: center;
    width: 10vh;
  }
  header .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  header .icons img {
    width: 4vh;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    text-align: center;
    line-height: 3.3125rem;
  }
  .banner1 {
    width: 90%;
    font-size: 2.2rem;
    line-height: 2.1875rem;
  }
  .banner1 img {
    width: 16vh;
  }
  .category-banner-dog {
    width: 90%;
  }
  .category-banner-puppy {
    width: 90%;
  }
  .category-banner-chicken {
    width: 90%;
  }
  .category-banner-cat {
    width: 90%;
  }
  .section1 {
    flex-wrap: wrap;
  }
  .section1 article {
    width: 10vh;
    font-size: 1.25rem;
  }
  .banner2 {
    width: 90%;
    font-size: 2.5rem;
    gap: 10px;
  }
  .brands {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
  .productos-sell div:nth-child(2) {
    width: 80%;
  }
}
@media all and (max-width: 375px) {
  header {
    flex-direction: row;
  }
  header .nav {
    gap: 0;
  }
  header .nav a {
    font-size: 1rem;
    padding: 0.125rem;
  }
  header .icons {
    padding: 0;
  }
  header .icons a {
    font-size: 10px;
  }
  header .icons img {
    width: 3vh;
  }
  header input {
    font-size: 0.75rem;
    height: 1vh;
    width: 8vh;
  }
  .title {
    font-size: 1.625rem;
  }
  .banner1 {
    width: 90%;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .banner1 img {
    width: 10vh;
  }
}
@media all and (max-width: 320px) {
  header {
    flex-direction: row;
  }
  header .nav {
    gap: 0;
  }
  header .nav a {
    font-size: 10px;
    padding: 0.125rem;
  }
  header .icons {
    padding: 0;
  }
  header .icons a {
    font-size: 10px;
  }
  header .icons img {
    width: 3vh;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.375rem;
  }
  .banner1 {
    width: 90%;
    font-size: 2rem;
    line-height: 2rem;
  }
  .banner1 img {
    width: 10vh;
  }
  .category-banner-dog {
    justify-content: center;
  }
  .section1 {
    flex-wrap: wrap;
  }
  .section1 article {
    width: 10vh;
    font-size: 10px;
  }
  .banner2 {
    width: 90%;
    font-size: 18px;
    gap: 10px;
  }
  .brands {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
  .productos p {
    font-size: 0.9375rem;
  }
  .productos img {
    width: 10vh;
  }
}
@media all and (max-width: 178px) {
  header div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header div .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    line-height: 0.4375rem;
  }
  header div .nav a {
    font-size: 10px;
  }
  .title {
    font-size: 0.9375rem;
  }
  .banner1 {
    width: 90%;
    font-size: 30px;
    line-height: 2.0005rem;
    text-align: center;
  }
  .banner1 img {
    display: none;
  }
  .banner2 {
    width: 90%;
    font-size: 2rem;
    text-align: center;
  }
  .brands-title {
    font-size: 1.25rem;
  }
  .brands {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
  }
  .brands img {
    width: 15vh;
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.1625rem;
  }
  footer img {
    width: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
