@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(14, 14, 105, 0.877);
  top: 0;
  position: sticky;
  margin-bottom: 1.875rem;
  border-bottom: solid 2px rgba(11, 11, 143, 0.13);
}
header div {
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
header div input {
  border-radius: 0.625rem;
  padding: 0rem 0.625rem;
}
header div nav ul {
  display: flex;
  gap: 1rem;
  color: white;
  font-size: 1.5625rem;
  font-weight: bold;
}
header div nav ul a {
  padding: 0.625rem;
  border-radius: 0.625rem;
}
header div nav ul a:hover {
  transition-duration: 1s;
  color: yellow;
  background-color: rgba(0, 0, 102, 0.747);
}

.logo {
  width: 10vh;
}

.active {
  color: rgb(99, 99, 126);
  font-weight: bold;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  font-weight: bold;
}

.banner1 {
  width: 60%;
  margin: auto;
  background-color: rgba(39, 85, 172, 0.747);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-weight: bolder;
  padding: 2.5rem;
  border: solid 3px rgba(18, 0, 83, 0.651);
  border-radius: 30px;
  margin-top: 1.875rem;
}
.banner1 img {
  width: 30vh;
}

.section1 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  margin: auto;
  padding: 2.5rem;
  margin-top: 1.875rem;
}
.section1 article {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(18, 0, 83, 0.658);
  border: solid 8px rgba(18, 0, 83, 0.151);
  border-radius: 10px;
  color: white;
  font-size: 1.875rem;
  font-weight: bold;
}
.section1 img {
  border-radius: 10px;
  overflow: hidden;
}

.banner2 {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3.75rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid 3px rgba(18, 0, 83, 0.671);
  border-radius: 30px;
  padding: 2.5rem;
  margin-top: 1.875rem;
}
.banner2 div a:first-child img {
  width: 20vh;
}
.banner2 div:nth-child(1) img {
  width: 30vh;
}

.brands {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-items: center;
  gap: 1.25rem;
  padding: 2.5rem;
  margin-top: 1.875rem;
}
.brands img {
  border: solid 4px rgba(0, 0, 0, 0.336);
  border-radius: 50%;
}

.brands-title {
  width: 59%;
  margin: auto;
  display: flex;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-top: 2.5rem;
  margin-top: 1.875rem;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 0.625rem;
  color: white;
  font-size: 1.875rem;
  background-color: rgba(14, 14, 105, 0.808);
  align-items: center;
  margin-top: 1.875rem;
  flex-wrap: wrap;
}
footer div div {
  display: flex;
}
footer div img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.workwithus:hover {
  color: yellow;
  font-weight: bold;
}

.contact {
  text-align: center;
}
.contact a {
  font-weight: bold;
}

.contact {
  text-align: center;
}
.contact a:hover {
  color: yellow;
}

@media all and (max-width: 1024px) {
  header a {
    font-size: 1rem;
  }
  .banner1 {
    height: 30vh;
    font-size: 3rem;
  }
  .banner1 img {
    width: 22vh;
  }
  .brands {
    width: 70%;
  }
  footer {
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
}
@media all and (max-width: 768px) {
  header {
    font-size: 0.9375rem;
  }
  header input {
    width: 7vh;
  }
  header img {
    width: 5vh;
  }
  .title {
    font-size: 5rem;
  }
  .banner1 {
    width: 70%;
    font-size: 3rem;
  }
  .banner1 img {
    width: 18vh;
  }
  .section1 article {
    font-size: 25px;
  }
  .banner2 {
    width: 70%;
    font-size: 3rem;
  }
  .brands {
    width: 80%;
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
}
@media all and (max-width: 425px) {
  header {
    flex-direction: column;
    font-size: 0.9375rem;
  }
  header input {
    width: 7vh;
  }
  header img {
    width: 5vh;
  }
  .title {
    font-size: 5rem;
  }
  .banner1 {
    width: 70%;
    font-size: 3rem;
  }
  .banner1 img {
    width: 18vh;
  }
  .section1 {
    flex-wrap: wrap;
  }
  .section1 article {
    width: 10vh;
    font-size: 1.25rem;
  }
  .banner2 {
    width: 70%;
    font-size: 3rem;
  }
  .brands {
    width: 80%;
  }
  footer {
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
  }
  footer img {
    width: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
