.banner1{
    width: 60%;
    margin: auto;
    background-color: rgba(39, 85, 172, 0.747);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    font-size: 3.75rem;
    font-weight: bolder;
    padding: 2.5rem;
    border: solid 3px rgba(18, 0, 83, 0.651);
    border-radius: 30px;
    margin-top: 1.875rem;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    img{
        width: 30vh;
    }
}
.banner1:hover{
    transform: scale(1.01);

}
.bannercat{
    width: 60%;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Bebas Neue', sans-serif;
    background-image: url(../../assets/img/photo-1573865526739-10659fec78a5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    border: solid 3px rgba(0, 0, 105, 0.699);
    border-radius: 20px;
}