.category-banner-chicken{
        background-image: url(../assets/img/bannerchicken.jpg);
        background-position: center;
        background-size: cover;
        width: 60%;
        height: 30vh;
        margin: auto;
        display: flex;
        align-items: center;
        font-size: 3.75rem;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bolder;
        color: white;
        border: solid 3px rgba(18, 0, 83, 0.671);
        border-radius: 30px;
        padding: 2.5rem;
        margin-top: 1.875rem;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }
    .category-banner-chicken:hover{
        transform: scale(1.01);
    }
