header{
    background-color: rgba(0, 0, 153, 0.829);
    div{
    display:flex;
    justify-content: space-around;

        nav{
            ul{
            display: flex;
            gap:1rem;
            color: white;
        }
    };
}
}

.active{
    color: rgb(99, 99, 126);
    font-weight: bold;
}

