@media all and (max-width: 178px){
    header{
        div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nav{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 10px;
                line-height: .4375rem;
                a{
                    font-size: 10px;
                }
            }
}
}
.title{
    font-size: 3rem;


}
.banner1{
    width: 90%;
    font-size: 30px;
    line-height: 2.0005rem;
    text-align: center;
    img{
        display: none;
    }
}

.banner2{
    width: 90%;
    font-size: 2.0rem;
    text-align: center;
}
.brands-title{
        font-size: 1.25rem;
}
.brands{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,4fr);
    img{
        width: 15vh;
    }
}

footer{
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.1625rem;
    img{
        width: 5vh;
    }
}
}