@media all and (max-width: 768px){
    header{
        font-size: .9375rem;
        input{
            width: 7vh;
        }
        img{
            width: 5vh;
        }
}
.title{
    font-size: 2.5rem;
}
.banner1{
    width: 70%;
    font-size: 3rem;
    img{
        width: 18vh;
    }
}
.section1{
    article{
        font-size: 25px;
    }
}
.banner2{
    width: 70%;
    font-size: 3rem;
}
.brands{
    width: 80%;
}
footer{
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
    img{
        width: 5vh;
    }
}
.productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
        img{
            width: 15vh;
    }
}
}
