@media all and (max-width: 375px){
    header{
        flex-direction: row;
        .nav{
            a{
                font-size: 1rem;
                padding: .125rem;
            }
            gap: 0;
        }
        .icons{
            padding: 0;
            a{
                font-size: 10px;
            }
            img{
                width: 3vh;
            }
        }
        input{
            font-size: .75rem;
            height: 1vh;
            width: 8vh;
        }
    }
    .title{
        font-size: 1.625rem;
    }
    .banner1{
        width: 90%;
        font-size: 2.5rem;
        line-height: 2.5rem;
        img{
            width: 10vh;
        }
    }
}