@media all and (max-width: 320px){
    header{
        flex-direction: row;
        .nav{
            a{
                font-size: 10px;
                padding: .125rem;
            }
            gap: 0;
        }
        .icons{
            padding: 0;
            a{
                font-size: 10px;
            }
            img{
                width: 3vh;
            }
        }
    }
.title{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.1875rem;
    text-align: center;
    line-height: 3.3125rem;
}
.banner1{
    width: 90%;
    font-size: 1.8125rem;
    line-height: 3.0005rem;
    img{
        width: 10vh;
    }
}
.section1{
    flex-wrap: wrap;
    article{
        width: 10vh;
        font-size: 1.25rem;

    }
}
.banner2{
    width: 90%;
    font-size: 2.5rem;
    gap: 10px;
}
.brands{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,4fr)
}
footer{
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
    img{
        width: 5vh;
    }
}
.productos{
    p{
        font-size: .9375rem;
    }
        img{
            width: 10vh;
    }
}
}
