@media all and (max-width: 768px){
    header{
        font-size: .9375rem;
        .nav{
            gap: 0px;
        }

        div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        input{
            width: 15vh;
        }
        img{
            width: 5vh;
        }
        .logo{
            display: flex;
            justify-content: center;
            width: 10vh;
        }
        .icons{
            display: flex;
            flex-direction: row;
            gap: 10px;
            img{
                width:4vh;
            }
        }
}
.title{
    font-size: 2rem;
}
.banner1{
    flex-direction: column;
    text-align: center;
    width: 70%;
    font-size: 2rem;
    img{
        width: 15vh;
    }
}
.section1{
    article{
        font-size: 15px;
        font-weight: normal;
    }
}
.banner2{
    width: 70%;
    font-size: 3rem;
}
.brands{
    width: 80%;
}
footer{
    text-align: center;
    flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5625rem;
    img{
        width: 5vh;
    }
}
.productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
        img{
            width: 15vh;
    }
}
}
