.section1{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    margin: auto;
    padding: 2.5rem;
    margin-top: 1.875rem;
    article{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(18, 0, 83, 0.658);
        border: solid 4px rgba(18, 0, 83, 0.151);
        border-radius: 10px;
        color: white;
        font-size: 1.875rem;
        font-weight: bold;
    }
    img{
        border-radius: 10px;
        overflow: hidden;
    }
}